@import url(../globalStyle.css);
/*
========================================
--- ABOUT PAGE BANNER STYLES ---
========================================
*/

.about-banner {
    background-color: var(--bg-dark-green) !important;
    text-align: center;
}

.hero-banner {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content p {
    margin: 2rem auto !important;
}